@{
    ViewBag.Title = "Sprint Planner";
}

<div class="grid-container">
    <div class="card text-white bg-secondary ">
        <div class="card-header">
            22/Q1
        </div>
        <div class="card-body">
            <h5 class="card-title">Features</h5>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 1-->
        <div class="card-header">
            Sprint 1
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint1-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 2-->
        <div class="card-header">
            Sprint 2
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint2-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 3-->
        <div class="card-header">
            Sprint 3
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint3-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 4-->
        <div class="card-header">
            Sprint 4
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint4-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 5-->
        <div class="card-header">
            Sprint 5
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint5-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <!--Sprint 6-->
        <div class="card-header">
            Sprint 6
        </div>
        <div class="card-body">
            <div class="sprintTotal px-1">
                <span class="card-title">Capacity: </span>
                <span class="card-title sprintCapacity">30</span>
            </div>
            <div class="sprintTotal px-1">
                <span class="card-text">Load: </span>
                <span class="card-text sprintLoad">0</span>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush collapse" id="sprint6-collapse">
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Capacity: </span>
                    <span class="sprintCapacity-Dev">15</span>
                </li>
                <li class="list-group-item text-white bg-primary">
                    <span>Dev Load: </span>
                    <span class="sprintLoad-Dev">0</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Capacity: </span>
                    <span class="sprintCapacity-QA">15</span>
                </li>
                <li class="list-group-item text-white bg-success">
                    <span>QA Load: </span>
                    <span class="sprintLoad-QA">0</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-success btn-sm mt-2 ms-4 AddFeature">
    <i class="bi bi-plus-square-fill me-2"></i>
    Add Feature
</button>